{% extends "layout.html" %}

{% block head %}
    <meta name="description" content="Downloading - YouTube Downloader | Shuence">
    <meta name="robots" content="noindex, nofollow">
    <title>Downloading - YouTube Downloader | Shuence</title>
{% endblock %}

{% block body %}
    <div class="loader"></div>
    <div class="downloading" id="status">Downloading...</div>
    <div class="progress-container">
        <div class="progress-bar" id="progressBar"></div>
    </div>
    <script src="../static/index.js"></script>
{% endblock %}
